body {
    background-image: url("../images/beanstalk.png");
}

img {
    height: 100%;
    width: auto;
}

.book-details {
    height: 200px;
    padding: 15px;
    display: table-cell;
    vertical-align: middle;
}

.book-cover {
    width: 150px;
    font-style: italic;
    margin-right: 15px;
    float: left;
    text-align: center;
}

.books-list {
    list-style-type: none;
}