{% extends 'google_books/base.html' %}
{% block content %}
    <div class="filters">
        <form method="get">
            Title:
            <input type="text" name="title" placeholder="">
            Author:
            <input type="text" name="author" placeholder="">
            Year:
            from
            <input type="number" name="year_from" placeholder="">
            to
            <input type="number" name="year_to" placeholder="">
            Language:
            <input type="text" name="language" placeholder="en">
            <input type="submit" value="Search">
            <input type="reset" value="Reset">
        </form>
    </div>
    <div class="content-list">
        <ul>
            {% for book in books %}
                <li>
                    <div class="book-details book-cover"><img src="{{ book.cover }}" alt="no image"></div>
                    <div class="book-details">{{ book }}</div>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}